/* 保证Home.vue, Create.vue, Setting.vue中的下方主体区域占满整个屏幕  */

  .main_child_container{
    height: 100%;
}
.el-container{
    height: 100%;
}
.el-aside-left{
    background: pink;
}
.el-main-right{
    background: lightblue;
    padding:0;
}